    body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: rgb(209, 187, 209);
    text-align: left;
   
    }

    header{
    background-color:rgb(170, 64, 163);
    color: rgb(248, 248, 247);
    padding: 20px 4px 6px 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: black;
    }

    nav{
    background-color: rgb(129, 69, 97);
    overflow: hidden;
    border-radius: 20px;
}
nav a {
    float: left;
    display: block;
    color: rgb(22, 1, 16);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover{
    background-color: rgb(241, 95, 132);
    color: black;
    
}
   
    img{
    max-width: 100%;
    border-radius: 50px;
    box-shadow:  0 0 20px rgb(170, 56, 94);;
    padding: 20px;
    }

    nav a {
    float: center;
    display: block;
    color: rgb(114, 4, 50);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;

}
section{
    padding: 20px;
}

#about{
    background-color: rgb(158, 118, 153);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
 }

 #pasatiempos{
    background-color: rgb(196, 157, 190);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
 }

 #habilidades{
      background-color: rgb(126, 89, 121);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);

 }


footer{
    background-color: rgb(83, 56, 82);
    color:white;
 
}
